h1 {
  font-family: "Work Sans", cursive;
  font-size: 2.5em;
  letter-spacing: -0.05em;
  line-height: 1em; }

h2 {
  font-family: "Work Sans", cursive;
  font-size: 2em;
  letter-spacing: -0.05em;
  line-height: 1em; }

h3 {
  font-family: "Poppins", helvetica, sans-serif;
  font-size: 1.25em;
  line-height: 1.25em; }

h5 {
  font-family: "Poppins", helvetica, sans-serif;
  font-size: 1.15em; }

h6 {
  font-family: "Poppins", helvetica, sans-serif;
  font-size: 0.85em;
  text-transform: uppercase; }

p {
  font-family: "Droid Serif", serif;
  font-size: 1.15em;
  line-height: 1.8em; }

@media screen and (min-width: 40em) {
  h1 {
    font-family: "Work Sans", cursive;
    font-size: 4.5em;
    letter-spacing: -0.05em;
    line-height: 1em; }

  h2 {
    font-family: "Work Sans", cursive;
    font-size: 3em;
    letter-spacing: -0.05em;
    line-height: 1em; }

  h3 {
    font-family: "Poppins", helvetica, sans-serif;
    font-size: 1.0em;
    line-height: 1.25em; }

  h5 {
    font-family: "Poppins", helvetica, sans-serif;
    font-size: 1.25em; }

  h6 {
    font-family: "Poppins", helvetica, sans-serif;
    font-size: 1.15em;
    text-transform: uppercase; }

  body {
    font-family: "Poppins", helvetica, sans-serif;
    font-size: 1em; }

  p {
    font-family: "Droid Serif", serif;
    font-size: 1em;
    line-height: 1.8em; } }
@media screen and (min-width: 55em) {
  h3 {
    font-size: 1.25em; }

  p {
    font-family: "Droid Serif", serif;
    font-size: 1.25em;
    line-height: 1.85em; } }
a {
  color: inherit; }

a:hover {
  color: #6e5fc8; }

.underline {
  display: inline-block; }

.underline:after {
  height: 8px;
  width: 100%;
  background-color: #e13732;
  content: '';
  display: block; }

/* ========================================
Global Styles
===========================================
*/
body {
  background-color: white;
  color: #232323; }

.dark {
  background-color: #19121e;
  color: white; }

.white-hairline {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1); }

.btm-grey-hairline {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }

.page-title {
  padding: 2rem 0 2rem 0; }

/* ================ Header ==================== */
header {
  padding-top: 15px; }

.mobile-icon svg {
  width: 45px;
  float: left; }

@media screen and (min-width: 40em) {
  ul {
    display: block; } }
/* ================ Footer ==================== */
footer {
  padding: 3rem 0 6rem 0;
  text-align: center;
  font-family: "Poppins", helvetica, sans-serif;
  font-size: 0.9em;
  color: #878787; }
  footer svg {
    width: 4rem; }

.footer-copyright {
  text-align: center;
  padding: 1rem 0 0.5rem 0; }

.footer-media-links {
  display: flex;
  justify-content: center; }
  .footer-media-links a {
    display: inline-block;
    margin: 0 0.75rem;
    font-size: 0.75em; }

.footer-arrows {
  display: flex; }
  .footer-arrows svg {
    height: 2rem;
    width: auto;
    padding-bottom: 12px; }

.align-right {
  justify-content: flex-end; }
  .align-right div {
    border-bottom: 8px solid #e13732; }

.col-switch {
  order: 0; }

@media screen and (min-width: 40em) {
  .footer-media-links {
    display: inline-block; }

  .col-switch {
    order: -1; } }
/* ========================================
Specific Element Styles
===========================================
*/
/* ================ HOMEPAGE /hero ==================== */
#hero {
  padding: 8rem 0 6rem 0; }
  #hero h1 {
    margin: 10px 0 60px 0; }

/* ================ HOMEPAGE /Latest Work ==================== */
.gallery h3 {
  padding: 1.75rem 0 0.5rem 0.475rem; }
.gallery h6 {
  padding: 0.75rem 0 0 0.475rem;
  opacity: .65;
  font-size: 0.75em;
  text-transform: none; }
.gallery img {
  height: auto;
  width: 100%; }

.latest-cards {
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  padding-bottom: 3rem; }

.latest-hairline {
  border-right: 1px solid rgba(255, 255, 255, 0.1); }

/* ================ WORK /All Work ==================== */
.projects-cards {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 3rem; }

.projects-hairline {
  border-right: 1px solid rgba(0, 0, 0, 0.1); }

/* ================ PROJECT PAGES /all ==================== */
.the-port > img {
  width: 100%;
  height: auto; }

.the-port-gif {
  height: auto;
  width: 240px;
  display: block;
  margin: 0 auto;
  -webkit-box-shadow: 2px 2px 5px -1px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 2px 2px 5px -1px rgba(0, 0, 0, 0.6);
  box-shadow: 2px 2px 5px -1px rgba(0, 0, 0, 0.6); }
  @media screen and (min-width: 40em) {
    .the-port-gif {
      width: 320px; } }

.text-area-padding {
  padding-top: 2.5rem;
  padding-bottom: 4rem; }

/* ================ ABOUT ==================== */
.about-bio-picture {
  width: 50%;
  display: block;
  margin: 0 auto;
  margin-bottom: 2rem;
  height: auto;
  border-radius: 50%; }
  @media screen and (min-width: 40em) {
    .about-bio-picture {
      width: 75%;
      margin: 0; } }

/*# sourceMappingURL=all.css.map */
