.img-shadow {
  -webkit-box-shadow: 2px 2px 5px -1px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 2px 2px 5px -1px rgba(0, 0, 0, 0.6);
  box-shadow: 2px 2px 5px -1px rgba(0, 0, 0, 0.6); }

a {
  color: inherit; }

body.dark a {
  transition: color 0.25s ease 0.05s;
  color: white; }
body.dark a:hover {
  color: #e13732; }

body a {
  transition: color 0.25s ease 0.05s;
  color: #6e5fc8; }
body a:hover {
  color: #e13732; }

.nav-links-white {
  transition: color 0.25s ease 0.05s;
  color: #878787; }

.nav-links-white:hover {
  color: #6e5fc8; }

.borders-white:hover {
  border: 1px solid #e13732;
  box-shadow: -9px 9px 0 #e13732; }

.borders-black:hover {
  border: 1px solid #6e5fc8;
  box-shadow: -9px 9px 0 #6e5fc8; }

.footer-grey-text:hover {
  color: #6e5fc8; }

.darken,
.tint {
  transition: background-color 0.2s ease 0.05s; }

.darken:hover {
  background-color: #0e0a11; }

.tint:hover {
  background-color: #f0f0f0; }

h1 {
  font-family: "HarpersGrotesque-Medium", "Work Sans", helvetica, sans-serif;
  font-size: 2.5em;
  letter-spacing: -0.025em;
  line-height: 1em; }

h2 {
  font-family: "HarpersGrotesque-Medium", "Work Sans", helvetica, sans-serif;
  font-size: 2em;
  letter-spacing: -0.025em;
  line-height: 1em; }

h3 {
  font-family: helvetica, sans-serif;
  font-size: 1.25em;
  line-height: 1.25em;
  color: #232323; }

h4 {
  font-family: helvetica, sans-serif;
  font-size: 0.85em;
  color: #232323; }

h5 {
  font-family: "HarpersGrotesque-Medium", "Work Sans", helvetica, sans-serif;
  font-size: 1.05em;
  margin-top: 1.75em; }

h6 {
  font-family: helvetica, sans-serif;
  font-size: 1.15em;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin-top: 2rem;
  margin-bottom: 2.5em; }

p {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.05em;
  line-height: 1.65em; }

body {
  font-family: helvetica, sans-serif;
  font-size: 1em; }

footer {
  font-family: helvetica, sans-serif;
  font-size: 0.9em; }

header ul li {
  font-family: helvetica, sans-serif;
  font-size: 0.9em;
  text-transform: uppercase;
  letter-spacing: 0.05em; }

.footnote-style {
  font-family: "Times New Roman", Times, serif;
  font-size: 0.85em;
  line-height: 1.45em; }

.num-list {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.05em;
  line-height: 1.8em; }

.user-persona-titles {
  text-align: center;
  margin-bottom: 0.75rem; }

.card-text-captions {
  font-family: helvetica, sans-serif;
  font-size: 0.9em;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  line-height: 120%;
  display: inline; }

.home-connect {
  font-family: helvetica, sans-serif;
  font-size: 1.15em; }

.footer-text-links {
  font-family: helvetica, sans-serif;
  font-size: 0.95em;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin-top: 2rem;
  margin-bottom: 2.5em; }

@media screen and (min-width: 40em) {
  h1 {
    font-size: 3.25em; }

  h2 {
    font-size: 3em; }

  h3 {
    font-size: 1.05em; }

  h4 {
    font-size: 0.75em;
    line-height: 130%; }

  h5 {
    font-size: 1.1em; }

  h6 {
    font-size: 0.95em;
    margin-top: 0;
    margin-bottom: 0; }

  p {
    font-size: 0.95em; }

  .footnote-style {
    font-size: 0.85em; }

  .card-text-captions {
    font-size: 0.75em;
    margin-top: 0.25rem; }

  .footer-text-links {
    font-size: 0.85em; } }
@media screen and (min-width: 55em) {
  h3 {
    font-size: 1.25em; }

  h4 {
    font-size: 0.85em;
    line-height: 140%; }

  h5 {
    font-size: 1.15em; }

  h6 {
    font-size: 1.25em; }

  p {
    font-size: 1.35em;
    line-height: 1.55em; }

  .footnote-style {
    font-size: 0.95em; }

  .num-list {
    font-size: 1.15em;
    line-height: 1.85em; }

  .card-text-captions {
    font-size: 0.85em;
    margin-top: 0; }

  .card-text-right {
    text-align: right; }

  .footer-text-links {
    font-size: 0.95em; } }
/* ========================================
Global Styles
===========================================
*/
.dark {
  background-color: #19121e;
  color: white; }

.primary-span {
  border-bottom: 8px solid #e13732; }

.secondary-span {
  border-bottom: 8px solid #6e5fc8; }

.hairlines-white {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1); }

.borders-white {
  border: 1px solid rgba(255, 255, 255, 0.1); }

body {
  background-color: white;
  color: #232323; }

.hairlines-black {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }

.borders-black {
  border: 1px solid rgba(0, 0, 0, 0.1); }

.page-title {
  padding: 2rem 0 2rem 0; }

.video-mov-gif {
  height: auto;
  width: 240px;
  display: block;
  margin: 0 auto;
  -webkit-box-shadow: 2px 2px 5px -1px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 2px 2px 5px -1px rgba(0, 0, 0, 0.6);
  box-shadow: 2px 2px 5px -1px rgba(0, 0, 0, 0.6); }
  @media screen and (min-width: 40em) {
    .video-mov-gif {
      width: 320px; } }

.img-small {
  width: 280px;
  height: auto;
  display: block;
  margin: 0 auto;
  -webkit-box-shadow: 2px 2px 5px -1px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 2px 2px 5px -1px rgba(0, 0, 0, 0.6);
  box-shadow: 2px 2px 5px -1px rgba(0, 0, 0, 0.6); }
  @media screen and (min-width: 40em) {
    .img-small {
      width: 480px; } }

/* ================ Header ==================== */
header ul {
  margin: 0;
  margin-top: 1rem; }
  header ul li {
    /*
    display: inline-block;
    padding: 0.75rem;*/
    list-style: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 4.65rem;
    width: 5rem; }
  header ul .header-logo {
    line-height: 110%;
    text-transform: capitalize;
    text-align: center; }
  header ul a {
    display: block;
    text-decoration: none;
    transition: color 0.25s; }
  header ul span {
    background-color: #e13732;
    display: block;
    height: 8px;
    position: absolute;
    transition: left 0.25s, width 0.25s; }

/* ================ Footer ==================== */
footer {
  padding: 3rem 0 6rem 0;
  text-align: center; }
  footer svg {
    width: 4rem; }

.footer-copyright {
  display: block;
  text-align: center;
  padding: 1rem 0 0.35rem 0; }

.footer-media-links {
  display: flex;
  justify-content: center;
  margin-bottom: 2.5rem; }
  .footer-media-links a {
    display: inline-block;
    margin: 0 0.75rem; }
  @media screen and (min-width: 40em) {
    .footer-media-links {
      margin-bottom: 0; }
      .footer-media-links a {
        margin: 0 0.5rem; } }

.footer-grey-text {
  color: #878787; }

.footer-arrows {
  display: flex; }
  .footer-arrows svg {
    height: 2rem;
    width: auto;
    padding-bottom: 12px; }

.align-right {
  justify-content: flex-end; }

.col-switch {
  order: 0; }

@media screen and (min-width: 40em) {
  .footer-media-links {
    display: inline-block; }

  .col-switch {
    order: -1; } }
/* ========================================
Specific Element Styles
===========================================
*/
/* ================ HOMEPAGE /hero ==================== */
#hero {
  padding: 8rem 0 10rem 0; }
  #hero h1 {
    margin: 10px 0 60px 0; }

.home-connect {
  display: inline-block;
  text-transform: uppercase;
  font-size: 0.9em;
  padding-bottom: 0.65rem;
  width: 5rem;
  text-align: center; }

.index-images-btm {
  margin-bottom: 2rem; }

/* ================ WORK / All ==================== */
.gallery {
  margin-top: 4.5rem;
  padding-bottom: 6rem; }
  .gallery img {
    height: auto;
    width: 100%; }

.projects-cards {
  padding-bottom: 0.75rem;
  margin-bottom: 3rem;
  transition: all 0.25s; }

.project-cards-title {
  padding-top: 1.5rem; }

.project-cards-deck {
  margin-top: 1.75rem; }

.project-cards-caption {
  padding-top: 1.25rem;
  opacity: .45;
  color: #232323; }

/* ================ PROJECT PAGES /all ==================== */
.project-pages > img {
  width: 100%;
  height: auto; }

.text-area-padding {
  padding-top: 1.25rem;
  padding-bottom: 3rem; }
  @media screen and (min-width: 40em) {
    .text-area-padding {
      padding-top: 2.5rem;
      padding-bottom: 4rem; } }

.project-img-full-width img {
  margin: 0 auto;
  display: block;
  max-height: 640px; }

.big-bloom-dash {
  width: 92%;
  max-width: 1200px;
  height: auto;
  margin: 0 auto;
  display: block; }

/* ================ ABOUT ==================== */
.about-bio-picture {
  width: 50%;
  display: block;
  margin: 0 auto;
  margin-bottom: 2rem;
  height: auto;
  border-radius: 50%; }
  @media screen and (min-width: 40em) {
    .about-bio-picture {
      width: 75%;
      max-width: 240px;
      margin: 0; } }

.about-timeline-entry {
  margin-bottom: 2rem;
  display: flex; }

.about-ysdn {
  height: 64px; }

.about-cppib {
  height: 42px; }

.about-state-street {
  height: 110px; }

.about-uwo {
  height: 96px; }

.connect-detail {
  display: flex;
  align-items: center;
  margin-top: 1.75rem; }
  @media screen and (min-width: 40em) {
    .connect-detail {
      margin-top: 0; } }

.connect-indicator {
  border-bottom: 8px solid #6e5fc8; }

/* ==========================================================================
   The Port: Banner & Parallax
   ========================================================================== */
.parallax {
  width: 100%;
  height: auto; }

/* Parallax Container  */
#little-current {
  height: 320px;
  overflow: hidden;
  position: relative; }
  @media screen and (min-width: 40em) {
    #little-current {
      height: 640px; } }
  @media screen and (min-width: 55em) {
    #little-current {
      height: 860px; } }

#little-current .layer {
  height: 320px;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  position: absolute;
  z-index: -1; }
  @media screen and (min-width: 40em) {
    #little-current .layer {
      height: 640px; } }
  @media screen and (min-width: 55em) {
    #little-current .layer {
      height: 860px; } }

/* keyart frames */
.layer.layer-00 {
  background-image: url("../img/the-port/banner/keyart-1-a-1.png");
  width: 100%; }

.layer.layer-01 {
  background-image: url("../img/the-port/banner/keyart-2.png");
  width: 100%; }

.layer.layer-02 {
  background-image: url("../img/the-port/banner/keyart-3_banner.png");
  width: 100%;
  animation-name: up-down;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-duration: 2s;
  animation-iteration-count: infinite; }

.layer.layer-03 {
  background-image: url("../img/the-port/banner/keyart-4_banner.png");
  width: 100%;
  animation-name: down-up;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-duration: 2s;
  animation-iteration-count: infinite; }

.layer.layer-04 {
  background-image: url("../img/the-port/banner/keyart-5_banner.png");
  width: 100%;
  animation-name: up-down;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-duration: 2s;
  animation-iteration-count: infinite; }

/*  ==========================================================================
    Animations
    ========================================================================== */
@keyframes up-down {
  0% {
    top: 0%; }
  50% {
    top: 0.75%; }
  100% {
    top: 1.25%; } }
@keyframes down-up {
  0% {
    top: 1.25%; }
  50% {
    top: 0.75%; }
  100% {
    top: 0%; } }
/*  ==========================================================================
    Gradients
    ========================================================================== */
.the-port-bkgd {
  background: #B4E9FF;
  /*
  background: -moz-linear-gradient(top,  #daf8ff 0%, #c8f4ff 100%);
  background: -webkit-linear-gradient(top,  #daf8ff 0%,#c8f4ff 100%);
  background: linear-gradient(to bottom,  #daf8ff 0%,#c8f4ff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#daf8ff', endColorstr='#c8f4ff',GradientType=0 );
  */ }

.run-of-play-bkgd {
  background: #5E98FF;
  /*
  background: #0049ff;
  background: -moz-linear-gradient(top,  #0049ff 0%, #0040df 100%);
  background: -webkit-linear-gradient(top,  #0049ff 0%,#0040df 100%);
  background: linear-gradient(to bottom,  #0049ff 0%,#0040df 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0049ff', endColorstr='#0040df',GradientType=0 );
  */ }

.bnn-bkgd {
  background: #FF5A68;
  /*
  background: #ff3030;
  background: -moz-linear-gradient(top,  #ff3030 0%, #db1818 100%);
  background: -webkit-linear-gradient(top,  #ff3030 0%,#db1818 100%);
  background: linear-gradient(to bottom,  #ff3030 0%,#db1818 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3030', endColorstr='#db1818',GradientType=0 );
  */ }

.big-bloom-bkgd {
  background: #C3B8F9;
  /*
  background: #907afd;
  background: -moz-linear-gradient(top,  #907afd 0%, #7966d7 100%);
  background: -webkit-linear-gradient(top,  #907afd 0%,#7966d7 100%);
  background: linear-gradient(to bottom,  #907afd 0%,#7966d7 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#907afd', endColorstr='#7966d7',GradientType=0 );
  */ }

/*# sourceMappingURL=all.css.map */
