//all interactivity here


//All Hover

a:hover {
  text-shadow: 2px 2px 5px $vibe-purple;
}


.btn:hover {
    //translate mixin (stack)
    transform: translate(-0.35em, 0.35em);
    transform-style: preserve-3d;

    cursor: pointer;
    background-color: $vibe-purple;
    color: #fff;
    border: 2px solid #fff;
}
.btn:hover:before {
  transform: translate3d(0.35rem, -0.35rem, -1em);
}



.menu-mobile {

    margin: 40px;
    padding: 10px 35px 16px 0;

      //Draw menu using pseudo-elements
      span, span:before, span:after {
            cursor: pointer;
            border-radius: 1px;
            height: 5px;
            width: 35px;
            background: white;
            position: absolute;
            display: block;
            content: '';
          }
          span:before {
            top: -10px;
          }
          span:after {
            bottom: -10px;
          }
      }
//close menu-mobile class parameters.



/*
//Hamburger menu code, mobile-only
.overlay-menu {
  //mobile

  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0,0,0,0);
  z-index: 2;

  .menu-mobile { //icon design
        //cursor: help;
        padding: 10px 35px 16px 0;

        position: relative;
        float: left;
        margin: 40px;

        //Draw menu using pseudo-elements
        span, span:before, span:after {
          cursor: pointer;
          border-radius: 1px;
          height: 5px;
          width: 35px;
          background: white;
          position: absolute;
          display: block;
          content: '';
        }
        span:before {
          top: -10px;
        }
        span:after {
          bottom: -10px;
        }
      }

  .menu-list { //hide menu list
    display: none;
  }



  @media screen and (min-width: 40em) {
      display: none;

      .menu-mobile {
        display: none;
      }
      .menu-list { //menu display on tablets +
        display: block;
        float: left;
        list-style-type: none;

        margin-top: 25px;
        margin-right: 40px;

          h3 {//custom type adjustments
            font-weight: 500;
            font-size: 1.2em;
            padding: 0.35em 0 0 0;
          }

      }

  }
}

  .active .overlay-menu { //on click

    transition: all 0.2s ease;
    background-color: rgba(0,0,0,0.9);

          .menu-list { //display on center
            display: block;

            transition: all 0.4s ease;
            padding: 0;
            list-style-type: none;

            text-align: center;
            margin-top: 35%;

          }
    }
*/
