


.project-header {                         /* Component across project pages */
  width: 100%;

  .title {
    text-align: center;
    margin-top: 56px;
  }
}

.project-header-img {
  padding: 16px 0 36px 0;
}








/* Project specific */


.envelopes {
    // @extend .project-header;
    background-color: $envelopes;
}

.run-of-play {
    // @extend .project-header;
    background-color: $play;
}

.qep {
  // @extend .project-header;
  background-color: $qep;
}

.tressle {
  background-color: #fff6f9;
}

/* The Port */

.the-port-header {
  position: absolute;
  width: 100%;
  z-index: 2;
}

/* Tressle */




/* ==========================================================================
   The Port: Banner & Parallax
   ========================================================================== */
   .parallax {
     width: 100%;
     height: auto;

     @media screen and (max-width: 40em) {
       display: none;
     }
   }

   .the-port-mobile {
     position: relative;
     top: -30px;


     @media screen and (min-width: 40em) {
       display: none;
     }
   }

        /* Parallax Container  */
        #little-current {
          height: 480px;
            overflow: hidden;
            position: relative;


            @media screen and (min-width: 40em) {
                height: 640px;
            }

            @media screen and (min-width: 55em) {
                height: 860px;
            }
        }

            #little-current .layer {
                height: 320px;
                background-position: top center;
                background-size: cover;
                background-repeat: no-repeat;
                width: 100%;
                position: absolute;
                z-index: -1;

                @media screen and (min-width: 40em) {
                    height: 640px;
                }

                @media screen and (min-width: 55em) {
                    height: 860px;
                }
            }


        /* keyart frames */
        .layer.layer-00 {
            background-image: url('../img/the-port/banner/keyart-1-a-1.png');
            width: 100%;
        }

        .layer.layer-01 {
            background-image: url('../img/the-port/banner/keyart-2.png');
            width: 100%;
        }

        .layer.layer-02 {
            background-image: url('../img/the-port/banner/keyart-3_banner.png');
            width: 100%;
            animation-name: up-down;
            animation-direction: alternate;
            animation-timing-function: ease-in;
            animation-duration: 1.25s;
            animation-iteration-count: infinite;
        }

        .layer.layer-03 {
            background-image: url('../img/the-port/banner/keyart-4_banner.png');
            width: 100%;
            animation-name: down-up;
            animation-direction: alternate;
            animation-timing-function: ease-in;
            animation-duration: 1.25s;
            animation-iteration-count: infinite;
        }

        .layer.layer-04 {
            background-image: url('../img/the-port/banner/keyart-5_banner.png');
            width: 100%;
            animation-name: up-down;
            animation-direction: alternate;
            animation-timing-function: ease-in;
            animation-duration: 1.25s;
            animation-iteration-count: infinite;
        }


/*  ==========================================================================
    Animations
    ========================================================================== */

@keyframes up-down {
    0% {
        top: 0%;
    }

    100% {
        top: 1%;
    }
}

@keyframes down-up {
    0% {
        top: 1%;
    }

    // 50% {
    //     top: 0.75%;
    // }

    100% {
        top: 0%;
    }
}
