


.project-header {                         /* Component across project pages */
  width: 100%;

  .title {
    text-align: center;
    margin-top: 56px;
  }
}

.project-header-img {
  padding: 16px 0 36px 0;
}








/* Project specific */


.envelopes {
    // @extend .project-header;
    background-color: $envelopes;
}

.run-of-play {
    // @extend .project-header;
    background-color: $play;
}

.qep {
  // @extend .project-header;
  background-color: $qep;
}


/* The Port */

.the-port-header {
  position: absolute;
  width: 100%;
  z-index: 2;
}
