
/* Mobile. */

body {
  font-family: $body-font;
  font-size: 1em;
}

h1 {
  font-family: $display-font;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 28px;
}

h2 {
  font-family: $display-font;
  font-size: 2em;
  letter-spacing: -0.025em;
  line-height: 1em;
}

h3 {
  font-family: $body-font;
  font-size: 18px;
  line-height: 24px;

@media screen and (min-width: 55em)  {
  font-size: 21px;
  line-height: 26px;
}
@media screen and (min-width: 40em) {}

}

h4 {
  font-family: $body-font;
  font-size: 18px;
  line-height: 22px;
}

h5 {
  font-family: $body-font;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}

h6 {
  font-family: $display-font;
  font-size: 16px;
  line-height: 24px;

}     /* Highlights / bolding */

p {
  font-size: 18px;
  line-height: 28px;
}




footer {
  font-family: $body-font;
  font-size: 0.9em;

  p {
    margin-bottom: 6px;
  }

  h4 {
    margin-bottom: 24px;
  }
}




//header link styles.
header ul li {
font: {
  family: $body-font;
  size: 1.0em;
}
//text-transform: uppercase;
letter-spacing: 0.05em;
}


.bold {
  font-family: $display-font;
}
