
/* Mobile. */

body {
  font-family: $body-font;
  font-size: 1em;
}

h1 {
  font-family: $display-font;
  font-size: 42px;
  letter-spacing: 0;
  line-height: 46px;
}

h2 {
  font-family: $display-font;
  font-size: 2em;
  letter-spacing: -0.025em;
  line-height: 1em;
}

h3 {
  font-family: $body-font;
  font-size: 18px;
  line-height: 21px;
  margin: 0;
}

h4 {
  font-family: $display-font;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
}

h5 {
  font-family: $body-font;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}

h6 {
  font-size: 1.15em;
  letter-spacing: 0.035em;
  margin-top: 2rem;
  margin-bottom: 2.5em;

}

p {
  font-size: 16px;
  line-height: 24px;
}




footer {
  font-family: $body-font;
  font-size: 0.9em;

  p {
    margin-bottom: 6px;
  }

  h4 {
    margin-bottom: 24px;
  }
}




//header link styles.
header ul li {
font: {
  family: $body-font;
  size: 1.0em;
}
//text-transform: uppercase;
letter-spacing: 0.05em;
}


.bold {
  font-family: $display-font;
}








//TABLET
@media screen and (min-width: 40em) {
      h1 {
        font-size: 42px;
        line-height: 46px;
      }

      h2 { font-size: 3em; }




      h5 { font-size: 1.1em; }

      h6 { font-size: 0.95em;
      margin-top: 0;
      margin-bottom: 0; }


      .footnote-style { font-size: 0.85em; }

      .card-text-captions {
        font-size: 0.75em;
        margin-top: 0.25rem;
        }

      .footer-text-links {
        font-size: 0.85em;
      }
}


/* Desktop. */

@media screen and (min-width: 55em) {



  h5 { font-size: 1.15em; }

  h6 { font-size: 1.15em; }



  .footnote-style { font-size: 0.95em; }

  .num-list {
    font-size: 1.25em;
    line-height: 1.65em;
  }

  .card-text-captions {
    font-size: 0.85em;
    margin-top: 0;

  }
  .card-text-right {
    text-align: right;
  }

  .footer-text-links { font-size: 0.95em; }
}
