//Global variables sheet
// Portfolio Site, v2
//Dec-15-2016


/* Colors */
$primary-bkgd: rgba(255, 255, 255, 1);
$primary-text: rgba(35, 35, 35, 1);
$primary-accent: rgba(0, 160, 247, 1);

$med-grey: rgba(135, 135, 135, 1);
$rich-black: rgba(35, 35, 35, 1);

$envelopes: rgba(212,255,227,1);
$play: rgba(214,235,252, 1);
$qep: rgba(231,221,254,1);



/* Fonts */
$display-font: 'Gibson-SemiBold', helvetica, sans-serif;
$body-font: 'Gibson-Regular', helvetica, sans-serif;


/* spacing */
$small: 24px;
$medium: 48px;
$large: 96px;
$x-large: 160px;



@mixin shadow {
  -webkit-box-shadow: 2px 2px 5px -1px rgba(0,0,0,0.6);
  -moz-box-shadow:    2px 2px 5px -1px rgba(0,0,0,0.6);
  box-shadow:         2px 2px 5px -1px rgba(0,0,0,0.6);
}

.img-shadow {
  @include shadow;
}
