//Global variables sheet
// Portfolio Site, v2
//Dec-15-2016

//Colors in use:
$black: rgba(0,0,0,1);
$deep-purpple: rgba(25, 18, 30,1);
//$deep-purpple: rgba(35,20,65,1);
$vibe-purple: rgba(110, 95, 200,1);
$white: rgba(255, 255, 255, 1);
$coral: rgba(225, 55, 50, 1);
$med-grey: rgba(135, 135, 135, 1); //#878787
$rich-black: rgba(35, 35, 35, 1);

//font stacks
//Google Placeholders: font-family: 'Droid Serif', serif;
//Google Placeholders: font-family: 'Poppins', sans-serif;
//Google Placeholders: font-family: 'Work Sans', sans-serif;


$body-font: 'Droid Serif', serif; //Laurentian-STD
$display-font: 'Work Sans', cursive; //Harpers-Grotesk
$gen-font: 'Poppins', helvetica, sans-serif;; //Sofia-Pro


//mobile text properties
h1 {
  font-family: $display-font;
  font-size: 2.5em;
  letter-spacing: -0.05em;
  line-height: 1em;
}

h2 {
  font-family: $display-font;
  font-size: 2em;
  letter-spacing: -0.05em;
  line-height: 1em;
}

h3 {
  font-family: $gen-font;
  font-size: 1.25em;
  line-height: 1.25em;
}

h4 {}

h5 {
  font-family: $gen-font;
  font-size: 1.15em;
}

h6 {
  font-family: $gen-font;
  font-size: 0.85em;
  text-transform: uppercase;
}

p {
  font-family: $body-font;
  font-size: 1.15em;
  line-height: 1.8em;
}

body {}


//tablet, desktop text properties
@media screen and (min-width: 40em) {
  h1 {
    font-family: $display-font;
    font-size: 4.5em;
    letter-spacing: -0.05em;
    line-height: 1em;
  }

  h2 {
    font-family: $display-font;
    font-size: 3em;
    letter-spacing: -0.05em;
    line-height: 1em;
  }

  h3 {
    font-family: $gen-font;
    font-size: 1.0em;
    line-height: 1.25em;
  }

  h4 {}

  h5 {
    font-family: $gen-font;
    font-size: 1.25em;
  }

  h6 {
    font-family: $gen-font;
    font-size: 1.15em;
    text-transform: uppercase;
  }


  body { //default text
    font-family: $gen-font;
    font-size: 1em;
  }
  p {
    font-family: $body-font;
    font-size: 1em;
    line-height: 1.8em;
  }

}

@media screen and (min-width: 55em) {
  h3 {
    font-size: 1.25em;
  }
  p {
    font-family: $body-font;
    font-size: 1.25em;
    line-height: 1.85em;
  }
}




@mixin span-indicator {

}


//Apply mixin to parent class.
//child div must include class "content"
@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}


@mixin shadow {
  -webkit-box-shadow: 2px 2px 5px -1px rgba(0,0,0,0.6);
  -moz-box-shadow:    2px 2px 5px -1px rgba(0,0,0,0.6);
  box-shadow:         2px 2px 5px -1px rgba(0,0,0,0.6);
}
