//Global variables sheet
// Portfolio Site, v2
//Dec-15-2016


/* Colors */
$primary-bkgd: rgba(255, 255, 255, 1);
$primary-text: rgba(35, 35, 35, 1);
$primary-accent: rgba(0, 160, 247, 1);

$med-grey: rgba(135, 135, 135, 1);
$rich-black: rgba(35, 35, 35, 1);

$envelopes: rgba(212,255,227,1);
$play: rgba(209,228,255,1);
$qep: rgba(234,239,255,1);

.housing-bkgd { background: #f5f5fa; }
.the-port-bkgd { background: #B4E9FF; }
.run-of-play-bkgd { background: #5E98FF; }



/* Fonts */
$display-font: 'Gibson-SemiBold', helvetica, sans-serif;
$body-font: 'Gibson-Regular', helvetica, sans-serif;


@mixin shadow {
  -webkit-box-shadow: 2px 2px 5px -1px rgba(0,0,0,0.6);
  -moz-box-shadow:    2px 2px 5px -1px rgba(0,0,0,0.6);
  box-shadow:         2px 2px 5px -1px rgba(0,0,0,0.6);
}

.img-shadow {
  @include shadow;
}
