// Stylesheets, portfolio site v2
// Justin White, Dec-15-2016


//all variables: color, type, etc.
@import 'var';

//interactivity
@import 'interactive';

//Typographic Styles
@import 'type';

/* ========================================
Global Styles
===========================================
*/


//Dark Background pages

    .dark {//for home page only; colors background.
      background-color: $primary-bkgd;
      color: $primary-text; //white
    }

    .primary-span {
      border-bottom: 8px solid $primary-accent;
    }

    .secondary-span {
      border-bottom: 8px solid $secondary-accent;
    }

    .hairlines-white {
      border-bottom: 1px solid rgba(255,255,255,0.25);
    }

    .borders-white {
      border: 1px solid rgba(255,255,255,0.25);
    }

//Light Background Pages

    body {
      background-color: $secondary-bkgd;
      color: $rich-black;

    }



  .hairlines-black {
    border-bottom: 1px solid rgba(0,0,0,0.25);
  }

  .borders-black {
    border: 1px solid rgba(0,0,0,0.25);
  }



//Titles, per page
  .page-title {
    padding: 2rem 0 2rem 0;
  }


//movie styling.
  .video-mov-gif {
    height: auto;
    width: 240px;
    display: block;
    margin: 0 auto;
    @include shadow;

    @media screen and (min-width: 40em) {
      width: 320px;
    }
  }

  //Contained-width images
  .img-small {
    width: 280px; //mobile
    height: auto;
    display: block;
    margin: 0 auto;
    @include shadow;

    @media screen and (min-width: 40em) {
      width: 480px; //tablet, desktop
    }
  }

  /* ================ Header ==================== */


  header {

    ul {
      margin: 0;
      margin-top: 1rem;

      li {
        /*
        display: inline-block;
        padding: 0.75rem;*/
        list-style: none;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        height: 5rem;
        width: 6rem;

      }

      .header-logo {
        font-size: 0.95em;
        line-height: 110%;
        text-transform: capitalize;
        text-align: center;

        @media screen and (min-width: 55em) {
          font-size: 1.05em;
        }
      }

      a {
        display: block;
        text-decoration: none;
        transition: color 0.25s;
      }

      span {
        background-color: $primary-accent;
        display: block;
        height: 8px;
        position: absolute;
        transition: left 0.25s, width 0.25s;
      }
    }
  }







/* ================ Footer ==================== */

      footer {
          padding: 3rem 0 6rem 0;
          text-align: center;

          svg {
            width: 4rem;
          }
      }

      .footer-copyright {
        display: block;
        text-align: center;
        padding: 1rem 0 0.35rem 0;
      }

      .footer-media-links {
        display: flex;
        justify-content: center;
        margin-bottom: 2.5rem;

        //mobile sizes
        a {
          display: inline-block;
          margin: 0 0.75rem;
          }

        @media screen and (min-width: 40em) {
          margin-bottom: 0;

          a {
            margin: 0 0.5rem;
          }
        }
      }

      .footer-grey-text {
        color: $med-grey;
      }


      .footer-arrows {
        display: flex;

        svg {
          height: 2rem;
          width: auto;
          padding-bottom: 12px;
          }

      }

      .align-right {
        justify-content: flex-end;
      }

      .col-switch {
        order: 0;
      }

      @media screen and (min-width: 40em) {
        .footer-media-links {
          display: inline-block;
        }

        .col-switch {
          order: -1;
        }
      }

/* ========================================
Specific Element Styles
===========================================
*/




/* ================ HOMEPAGE /hero ==================== */

  #hero {
    padding: 8rem 0 10rem 0;

    h1 {
      margin: 10px 0 60px 0;
    }
  }

  .home-connect {
    display: inline-block;
  }

  .index-images-btm {
    margin-bottom: 2rem;
  }

/* ================ WORK / All ==================== */

.gallery { //mobile sizing
      margin-top: 4.5rem;
      padding-bottom: 6rem;

      img {
        height: auto;
        width: 100%;
      }
}

    .projects-cards {

      padding-bottom: 0.75rem;
      margin-bottom: 3rem;

      transition: all 0.25s;
    }

    .project-cards-title {
      padding-top: 1.5rem;

    }

    .project-cards-deck {
      margin-top: 1.75rem;

    }

    .project-cards-caption {
      padding-top: 1.25rem;
      opacity: .45;
      color: $rich-black;
    }




/* ================ PROJECT PAGES /all ==================== */

  .project-pages > img {
    width: 100%;
    height: auto;
  }


  .text-area-padding { //mobile
    padding-top: 1.25rem;
    padding-bottom: 3rem;

    @media screen and (min-width: 40em) {
      padding-top: 2.5rem;
      padding-bottom: 4rem;
    }
  }



  /* ================ ABOUT ==================== */

    .about-bio-picture {
      width: 50%;
      display: block;
      margin: 0 auto;
      margin-bottom: 2rem;
      height: auto;
      border-radius: 50%;

      @media screen and (min-width: 40em) {
        width: 75%;
        max-width: 240px;
        margin: 0;
      }
    }

    .about-timeline-entry {
      margin-bottom: 2rem;
      display: flex;
    }

    //Images; customized css
      .about-ysdn {
        height: 100px;
      }
      .about-cppib {
        height: 60px;
      }
      .about-state-street {
        height: 180px;
      }
      .about-uwo {
        height: 180px;
      }

      .connect-detail {
        display: flex;
        align-items: center;
        margin-top: 1.75rem;

        @media screen and (min-width: 40em) {
          margin-top: 0;
        }
      }
      .connect-indicator {
          border-bottom: 8px solid $secondary-accent;
      }
